Requirements

[x] Duidelijk onderwerp

[x] Meerdere pagina's

[x] 5+ verschillende html elementen

[x] Semantische html elementen

[x] CSS in losse stylesheet (niet inline)

[x] Box-model (2 plekken padding margin en borders)

[x] Images

[x] 2+ links

[x] MediaQueries voor mobile-en desktop displays

[x] CSS-grid voor positioneren van elementen

[x] Flex-box voor positioneren van elementen

[x] Forms

[x] Mobile-first (basis css mobile, extra css desktop mediaqueries)

[x] Netheid (spelfoutjes etc.)

[x] Goed geformatteerd

Bonus requirements

[ ] Embedded YouTube video

[ ] Mooie afbeeldingen

[ ] Design en mediaqueries voor andere formats (tablet)

[x] Google fonts (library) voor extra css

[x] Uitgebreid formulier met veel inputvelden