body {
    background-color: #c3cfe2;
    box-sizing: border-box;
}



.grid-container {
display: grid;
grid-template-columns: (1fr auto 1fr);
grid-template-rows: repeat(8, 150px);
gap: 5px;
    grid-template-areas:
    ". one ."
    ". two ."
    ". three ."
    ". four ."
    ". five ."
    ". six ."
    ". seven ."
    ". eight .";
}

.one {
    grid-area: one;
    background-color: #404040;
  
    
}

.two {
    grid-area: two;
    background-color: #404040;
    

}

.three {
    grid-area: three;
    background-color: #404040;
    

}

.four {
    grid-area: four;
    background-color: #404040;
    
}

.five {
    grid-area: five;
    background-color: #404040;
    
}

.six {
    grid-area: six;
    background-color: #404040;
    
}

.seven {
    grid-area: seven;
    background-color: #404040;
}

.eight {
    grid-area: eight;
    background-color: #404040;
}
    


img {
width: 100%;
height: 100%;
opacity: 1;
transition-property: opacity;
transition-duration: 400ms;
transition-timing-function: ease-in;
transition-delay: 200ms;
    
}

button {
font-weight: lighter;
color: white;
border: solid 1px white;
background: black;
position: relative;
left: 50%;
top: -55%;
transform: translateX(-50%);
cursor: pointer;
opacity: 0;
transition-duration: 400ms;
transition-timing-function: ease-out;
transition-delay: 250ms;
}


.one:hover > img, .two:hover > img, .three:hover > img, .four:hover > img, .five:hover > img, .six:hover > img, .seven:hover >img, .eight:hover > img {
opacity: 0;
}

img:hover + button, button:hover {
    opacity: 1;    
  }


//   MEDIA QUERIES

// TABLET

@media only screen and (min-width: 768px) {

    .grid-container {
display: grid;
grid-template-columns: (1fr auto auto 1fr);
grid-template-rows: repeat(4, 150px);
gap: 5px;
    grid-template-areas:
    ". one two ."
    ". three four ."
    ". five six ."
    ". seven eight ."
        }
}

// DESKTOP

@media only screen and (min-width: 1024px) {

.grid-container {
    display: grid;
    grid-template-columns: (1fr auto auto auto 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
        grid-template-areas:
        ". one two three ."
        ". four five six ."
        ". seven eight eight ."
                    }
                }