// KEYFRAME

@keyframes pushbar {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-50px);
    }
}

// VARIABLES
$color-icon: white;
$padding-icon: 5px;

